@charset "UTF-8";

/*header*/

.header{
	width: 100%;
	height: auto;
	border: 0px solid #000000;
	box-sizing: border-box;
	padding:20px;
	display: flex;
	box-sizing:border-box;
	flex-direction: row; /*행(가로)방향으로 요소 배치, 생략*/
	justify-content: center;
	background-color: #cdf9b1;
}

.header .nav{
/* 	width: 100%;
	max-width: 1200px;
	margin: 0 auto; */
	width: 1200px;
	height: auto;
	border: 0px solid #000000;
	box-sizing: border-box;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
}

.header .nav h1.logo{
	width: 100px;
	height: 80px;
	border: 0px solid;
	box-sizing: border-box;
	background-color: #000000;
	line-height: 80px;
	text-align: center;
}

.header .nav h1.logo a{
	color: #ffffff;
}

.header .nav .gnb{
	width: 500px;
	height: auto;
	border: 0px solid;
	box-sizing: border-box;
}

.header .nav .gnb>ul{
/* 	background: #eeeeee; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .nav .gnb>ul>li{
	width: 20%;
	height: auto;
	line-height: 80px;
	text-align: center;
	border: 0px solid;
	box-sizing: border-box;
/* 	background-color: #cc00cc; */
}

.header .nav .gnb>ul>li a:hover{
	text-decoration: underline;
}


